<main class="content-area">
    <section class="banner">
        <div class="row">
            <div class="col-xs-12">
                <h1><b>Inventory Up</b> Makes Inventory Easy</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <button type="submit" class="btn btn-primary">Primary</button>
            </div>
            <div class="col-xs-5">
                <button type="submit" class="btn btn-primary">Primary</button>
            </div>
        </div>
    </section>
</main>